/* Use this style as your guidelines, comment out when done*/
/* * {
  border: 1px dashed blue;
} */

/*
Apply this style to every bordered box that
will have a gray background
*/
.box {
  background-color: #EEE;
  border: 1px #333 solid;
}

/*
This style will center the entire content of the page
in the middle of the screen
*/
.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  height: 200px;
  width: 100%;
}

.sidebar {
height: 500px;
  width: 25%
}

.content {
  height: 500px;
  width: 45%
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  height: 200px;
  width: 100%;
}
