* {
  /* border: 1px blue dashed; */
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

.box {
  border: 1px #333 solid;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-container {
  margin-bottom: 20px;
  padding: 20px;
}

.section {
  padding: 200px; /* using padding to control the height */
  width: 48%;
  background-color: #FF1053;
  color: #fff;
}

.feature {
  padding: 75px; /* using padding to control the height */
  width: 20%;
  background-color: #6C6EA0;

}

.footer {
  padding: 125px; /* using padding to control the height */
  width: 100%;
  background-color: #66C7F4;
}

.logo {
  padding: 25px; /* using padding to control the height */
  width: 20%;
  background-color: #A06CD5;
}

.nav-item {
  padding: 20px; /* using padding to control the height */
  width: 15%;
  margin-left: 10px;
  background-color: #C1CAD6;
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.mobile-menu-button {
  display: none;
  height: 50px;
  width: 50px;
  border 1px black solid;
  background-color: green;
}

/* Extra Large devices (large desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  /* styles go here */
}

/*
  Large devices (desktops, 992px and down)
*/
@media only screen and (max-width: 992px) {
  /* styles go here */
}

/*
  Medium devices (tablets, 768px and down)
*/
@media only screen and (max-width: 768px) {
  /* styles go here */
}

/*
  Small devices (landscape phone, 576px and down)
*/
@media only screen and (max-width: 576px) {
  /* styles go here */
  .container {
    width: 100%;
  }

  .section-container {
    display: block;
  }

  .section {
    width: 100%;
    margin-bottom: 1em;
  }

  .feature-container {
    flex-wrap: wrap;
    /* width: 48%; */
  }

  .feature {
    width: 48%;
    margin-bottom: 10px;
  }

  .nav-container {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .mobile-menu-container {
    width: 100%;
  }

  .mobile-menu-item {
    padding: 20px;
    background-color: orange;
    border: 1px solid #EEEEEE;
  }



}
