* {
  /* border: 1px blue dashed; */
  box-sizing: border-box;
}

body {
  font-size: 100%;
  padding-top: 80px;
}

.box {
  border: 1px #333 solid;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}

.header-container {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.sticky-header {
  /* styles needed to make the header sticky */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
}

.section {
  padding: 20px; /* using padding to control the height */
  width: 48%;
  background-color: #FF1053;
  color: #fff;
}

.feature {
  padding: 10px; /* using padding to control the height */
  width: 23%;
  background-color: #6C6EA0;
}

.footer {
  padding: 20px;
  width: 100%;
  background-color: #66C7F4;
  color: #333;
}

.logo-container {
  width: 10%;
  min-width: 100px;
  background-color: #A06CD5;
}

.logo-container h1 {
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 10px; /* using padding to control the height */
  min-width: 15%;
  margin-left: 10px;
  background-color: #C1CAD6;
}

.section-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.feature-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-menu-button {
  color: #000;
  display: none;
}


/* Extra Large devices (large desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  /* styles go here */

}

/*
  Large devices (desktops, 992px and down)
*/
@media only screen and (max-width: 992px) {
  /* styles go here */

}

/*
  Medium devices (tablets, 768px and down)
*/
@media only screen and (max-width: 768px) {
  /* styles go here */
  .feature-container {
    flex-wrap: wrap;
  }

  .feature {
    width: 40%;
    margin-bottom: 10px;
  }

  #mobile-menu-button {
    display: block;
  }

  /* .nav-container {
    display: none;
  } */

  .header-container {
    padding-right: 8px;
    padding-left: 8px;
  }

  .nav-container {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .nav-container.showing {
    transition: all 500ms ease-in-out;
    max-height: 500px;
  }

  .nav-container.hiding {
    transition: all 500ms ease-in-out;
    max-height: 0px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .nav-item {
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

/*
  Small devices (landscape phone, 576px and down)
*/
@media only screen and (max-width: 576px) {
  /* styles go here */
  .section-container {
    display: block;
  }

  .section {
    width: 100%;
    margin-bottom: 10px;
  }

    )
}
