body {
	font-family: Helvetica, Arial
}
h2 {
  cursor: pointer;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.section {
	border: 1px solid #333;
	padding: 15px;
	margin-bottom: 15px;
}

.field {
	margin-bottom: 10px;
}

.field span {
	width: 350px;
	display: inline-block;
}

.field input {
	padding: 5px;
	font-size: 20px;
	width: 75px;
	text-align: center;
}

.section button {
	font-size: 15px;
  border: 1px solid;
	border-radius: 3px;
	padding: 5px;
  /* width: 100px; */
}

.result {
	margin-top: 20px;
}

.result .label {
	width: 350px;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
}

.result .answer {
	font-size: 30px;
}
